<a href="https://colab.research.google.com/github/Jaya9522/daily-practice/blob/main/UniAcco.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [148]:
df=pd.read_excel("/content/drive/MyDrive/DATA SET/Data_Science_Internship.xlsx")

In [149]:
df.head()

,Unnamed: 0,Agent_id,status,lost_reason,budget,lease,movein,source,source_city,source_country,utm_source,utm_medium,des_city,des_country,room_type,lead_id
0,0.0,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,LOST,Not responding,NaN,NaN,NaT,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,cd5dc0d9393f3980d11d4ba6f88f8110c2b7a7f7796307...
1,1.0,299ae77a4ef350ae0dd37d6bba1c002d03444fb1edb236...,LOST,Low budget,NaN,NaN,NaT,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,5372372f3bf5896820cb2819300c3e681820d82c6efc54...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,b94693673a5f7178d1b114e4004ad52377d3244dd24a3d...
2,2.0,c213697430c006013012dd2aca82dd9732aa0a1a6bca13...,LOST,Not responding,£121 - £180 Per Week,Full Year Course Stay 40 - 44 weeks,2022-08-31,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,9b8cc3c63cdf447e463c11544924bf027945cbd29675f7...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,11ab03a1a8c367191355c152f39fe28cae5e426fce49ef...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,96ea4e2bf04496c044745938c0299c264c3f4ba079e572...
3,3.0,eac9815a500f908736d303e23aa227f0957177b0e6756b...,LOST,Low budget,0-0,0.0,NaT,ba2d0a29556ac20f86f45e4543c0825428cba33fd7a9ea...,a5f0d2d08eb0592087e3a3a2f9c1ba2c67cc30f2efd2bd...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,19372fa44c57a01c37a5a8418779ca3d99b0b59731fb35...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,1d2b34d8add02a182a4129023766ca4585a8ddced0e5b3...
4,4.0,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,LOST,Junk lead,NaN,NaN,NaT,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,NaN,fc10fffd29cfbe93c55158fb47752a7501c211d253468c...

In [150]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46608 entries, 0 to 46607
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      46608 non-null  float64
 1   Agent_id        46608 non-null  object
 2   status          46608 non-null  object
 3   lost_reason     43244 non-null  object
 4   budget          42908 non-null  object
 5   lease           44267 non-null  object
 6   movein          32970 non-null  datetime64[ns]
 7   source          46608 non-null  object
 8   source_city     46608 non-null  object
 9   source_country  46608 non-null  object
 10  utm_source      46608 non-null  object
 11  utm_medium      46608 non-null  object
 12  des_city        46608 non-null  object
 13  des_country     46608 non-null  object
 14  room_type       23061 non-null  object
 15  lead_id         46608 non-null  object
dtypes: datetime64[ns](1), float64(1), object(14)
memory usage: 5.7+ MB

In [153]:
df.describe()

        Unnamed: 0
count  46608.00000
mean   23303.50000
std    13454.71501
min        0.00000
25%    11651.75000
50%    23303.50000
75%    34955.25000
max    46607.00000

In [154]:
df.shape

(46608, 16)

In [9]:
# Check for missing values

In [155]:
print(df.isnull().sum())

Unnamed: 0            0
Agent_id              0
status                0
lost_reason        3364
budget             3700
lease              2341
movein            13638
source                0
source_city           0
source_country        0
utm_source            0
utm_medium            0
des_city              0
des_country           0
room_type         23547
lead_id               0
dtype: int64

In [156]:
# Replace '9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6c9bc9d493a23be9de0' with NaN
df.replace('9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6c9bc9d493a23be9de0', np.nan, inplace=True)

In [157]:
print(df.isnull().sum())

Unnamed: 0            0
Agent_id              0
status                0
lost_reason        3364
budget             3700
lease              2341
movein            13638
source             5977
source_city        8851
source_country     8641
utm_source           61
utm_medium         3187
des_city           2537
des_country        2537
room_type         23547
lead_id               0
dtype: int64

In [158]:
#replacing NaN to mode of lost_reason column

In [159]:
mode1=df['budget'].mode()
df['budget'].fillna(value=mode1[0], inplace=True)

In [160]:
mode2=df['lease'].mode()
df['lease'].fillna(value=mode2[0], inplace=True)

In [161]:
mode3=df['movein'].mode()
df['movein'].fillna(value=mode3[0], inplace=True)

In [162]:
mode4=df['source'].mode()
df['source'].fillna(value=mode4[0], inplace=True)

In [163]:
mode5=df['source_city'].mode()
df['source_city'].fillna(value=mode5[0], inplace=True)

In [164]:
mode6=df['source_country'].mode()
df['source_country'].fillna(value=mode6[0], inplace=True)

In [165]:
mode7=df['utm_source'].mode()
df['utm_source'].fillna(value=mode7[0], inplace=True)

In [166]:
mode8=df['utm_medium'].mode()
df['utm_medium'].fillna(value=mode8[0], inplace=True)

In [167]:
mode9=df['des_city'].mode()
df['des_city'].fillna(value=mode9[0], inplace=True)

In [168]:
mode10=df['des_country'].mode()
df['des_country'].fillna(value=mode10[0], inplace=True)

In [169]:
mode11=df['room_type'].mode()
df['room_type'].fillna(value=mode11[0], inplace=True)

In [170]:
df['lost_reason'].fillna('booking_happened', inplace=True)

In [171]:
print(df.isnull().sum())

Unnamed: 0        0
Agent_id          0
status            0
lost_reason       0
budget            0
lease             0
movein            0
source            0
source_city       0
source_country    0
utm_source        0
utm_medium        0
des_city          0
des_country       0
room_type         0
lead_id           0
dtype: int64

In [172]:
df['status'].value_counts()

LOST           43244
WON             3073
OPPORTUNITY      254
CONTACTED         28
PROCESSING         8
IMPORTANT          1
Name: status, dtype: int64

In [173]:
df.shape

(46608, 16)

In [174]:
# Select rows where the 'status' column is not 'WON' or 'LOST'
mask = (df['status'] != 'WON') & (df['status'] != 'LOST')
rows_to_drop = df[mask].index

In [175]:
# Drop the selected rows from the DataFrame
df.drop(rows_to_drop, inplace=True)

In [176]:
df.shape

(46317, 16)

In [177]:
df.head()

,Unnamed: 0,Agent_id,status,lost_reason,budget,lease,movein,source,source_city,source_country,utm_source,utm_medium,des_city,des_country,room_type,lead_id
0,0.0,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,LOST,Not responding,£60 - £120 Per week,Full Year Course Stay 40 - 44 weeks,2022-09-10,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,cd5dc0d9393f3980d11d4ba6f88f8110c2b7a7f7796307...
1,1.0,299ae77a4ef350ae0dd37d6bba1c002d03444fb1edb236...,LOST,Low budget,£60 - £120 Per week,Full Year Course Stay 40 - 44 weeks,2022-09-10,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,5372372f3bf5896820cb2819300c3e681820d82c6efc54...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,b94693673a5f7178d1b114e4004ad52377d3244dd24a3d...
2,2.0,c213697430c006013012dd2aca82dd9732aa0a1a6bca13...,LOST,Not responding,£121 - £180 Per Week,Full Year Course Stay 40 - 44 weeks,2022-08-31,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,9b8cc3c63cdf447e463c11544924bf027945cbd29675f7...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,11ab03a1a8c367191355c152f39fe28cae5e426fce49ef...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,96ea4e2bf04496c044745938c0299c264c3f4ba079e572...
3,3.0,eac9815a500f908736d303e23aa227f0957177b0e6756b...,LOST,Low budget,0-0,0.0,2022-09-10,ba2d0a29556ac20f86f45e4543c0825428cba33fd7a9ea...,a5f0d2d08eb0592087e3a3a2f9c1ba2c67cc30f2efd2bd...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,19372fa44c57a01c37a5a8418779ca3d99b0b59731fb35...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,1d2b34d8add02a182a4129023766ca4585a8ddced0e5b3...
4,4.0,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,LOST,Junk lead,£60 - £120 Per week,Full Year Course Stay 40 - 44 weeks,2022-09-10,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,fc10fffd29cfbe93c55158fb47752a7501c211d253468c...

In [178]:
df['lost_reason'].value_counts()

Low availability                  8892
Not responding                    7827
Not interested                    6449
Low budget                        5505
booking_happened                  3073
Wants private accommodation       2781
Short stay                        2264
Not a student                     1518
Just Enquiring                    1263
Inadequate details                 827
Semester stay                      817
Booked with manager                676
Junk lead                          629
Booked on campus accommodation     613
Supply issue                       538
No supply                          534
Not serving in that region         411
Repeat lead                        394
Booked with competitor             356
Not going to university            329
Distance issue                     219
Junk lead/ Just Enquiring          147
Lead issue                         127
Looking for admission               41
Didn't respond in time              35
Visa/admission denied               17
Guarantor issue                     17
Looking for Scholarship              8
Looking for loan                     5
Underage student                     4
Cross sell                           1
Name: lost_reason, dtype: int64

In [179]:
df['budget'].value_counts()

£60 - £120 Per week     13444
£121 - £180 Per Week     8878
0-0                      5719
£181 - £240 Per Week     2143
100.0                    1512
                        ...
1400-1500                   1
600-750pm                   1
0-Under 300                 1
0-Brunel University         1
0-500 PCM                   1
Name: budget, Length: 1834, dtype: int64

In [181]:
DF1=df[df['status']=='LOST']

In [186]:
DF2=df[df['status']=='WON']

In [187]:
DF2[['status','lost_reason','budget']]

      status       lost_reason                budget
98       WON  booking_happened                 109.0
111      WON  booking_happened  £121 - £180 Per Week
139      WON  booking_happened  £181 - £240 Per Week
141      WON  booking_happened       > 300£ Per Week
152      WON  booking_happened  £121 - £180 Per Week
...      ...               ...                   ...
46559    WON  booking_happened                 139.0
46566    WON  booking_happened                 179.0
46570    WON  booking_happened                 180.0
46586    WON  booking_happened  £121 - £180 Per Week
46592    WON  booking_happened   £60 - £120 Per week

[3073 rows x 3 columns]

In [182]:
DF1['lost_reason'].value_counts()

Low availability                  8892
Not responding                    7827
Not interested                    6449
Low budget                        5505
Wants private accommodation       2781
Short stay                        2264
Not a student                     1518
Just Enquiring                    1263
Inadequate details                 827
Semester stay                      817
Booked with manager                676
Junk lead                          629
Booked on campus accommodation     613
Supply issue                       538
No supply                          534
Not serving in that region         411
Repeat lead                        394
Booked with competitor             356
Not going to university            329
Distance issue                     219
Junk lead/ Just Enquiring          147
Lead issue                         127
Looking for admission               41
Didn't respond in time              35
Visa/admission denied               17
Guarantor issue                     17
Looking for Scholarship              8
Looking for loan                     5
Underage student                     4
Cross sell                           1
Name: lost_reason, dtype: int64

In [183]:
DF1['budget'].value_counts()

£60 - £120 Per week     12843
£121 - £180 Per Week     8241
0-0                      5507
£181 - £240 Per Week     2008
100.0                    1455
                        ...
0-£129                      1
90-100£                     1
0-Max 425                   1
250 Per Week                1
0-500 PCM                   1
Name: budget, Length: 1752, dtype: int64

In [185]:
df[['status','lost_reason','budget']]

      status       lost_reason                budget
0       LOST    Not responding   £60 - £120 Per week
1       LOST        Low budget   £60 - £120 Per week
2       LOST    Not responding  £121 - £180 Per Week
3       LOST        Low budget                   0-0
4       LOST         Junk lead   £60 - £120 Per week
...      ...               ...                   ...
46603   LOST  Low availability   £60 - £120 Per week
46604   LOST     Semester stay   £60 - £120 Per week
46605   LOST  Low availability  £241 - £300 Per week
46606   LOST  Low availability                1108.0
46607   LOST  Low availability  £181 - £240 Per Week

[46317 rows x 3 columns]

In [196]:
# Use the 'apply()' method to assign the value 50 to any row where 'lost_reason' is 'Not available'
df['lost_won'] = df['status'].apply(lambda x: 0 if x == 'LOST' else 1)

In [198]:
df.head(5)

,Unnamed: 0,Agent_id,status,lost_reason,budget,lease,movein,source,source_city,source_country,utm_source,utm_medium,des_city,des_country,room_type,lead_id,lost_won
0,0.0,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,LOST,Not responding,£60 - £120 Per week,Full Year Course Stay 40 - 44 weeks,2022-09-10,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,cd5dc0d9393f3980d11d4ba6f88f8110c2b7a7f7796307...,0
1,1.0,299ae77a4ef350ae0dd37d6bba1c002d03444fb1edb236...,LOST,Low budget,£60 - £120 Per week,Full Year Course Stay 40 - 44 weeks,2022-09-10,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,5372372f3bf5896820cb2819300c3e681820d82c6efc54...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,b94693673a5f7178d1b114e4004ad52377d3244dd24a3d...,0
2,2.0,c213697430c006013012dd2aca82dd9732aa0a1a6bca13...,LOST,Not responding,£121 - £180 Per Week,Full Year Course Stay 40 - 44 weeks,2022-08-31,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,9b8cc3c63cdf447e463c11544924bf027945cbd29675f7...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,11ab03a1a8c367191355c152f39fe28cae5e426fce49ef...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,96ea4e2bf04496c044745938c0299c264c3f4ba079e572...,0
3,3.0,eac9815a500f908736d303e23aa227f0957177b0e6756b...,LOST,Low budget,0-0,0.0,2022-09-10,ba2d0a29556ac20f86f45e4543c0825428cba33fd7a9ea...,a5f0d2d08eb0592087e3a3a2f9c1ba2c67cc30f2efd2bd...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,19372fa44c57a01c37a5a8418779ca3d99b0b59731fb35...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,1d2b34d8add02a182a4129023766ca4585a8ddced0e5b3...,0
4,4.0,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,LOST,Junk lead,£60 - £120 Per week,Full Year Course Stay 40 - 44 weeks,2022-09-10,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,fc10fffd29cfbe93c55158fb47752a7501c211d253468c...,0

In [200]:
df['lost_reason'].value_counts()

Low availability                  8892
Not responding                    7827
Not interested                    6449
Low budget                        5505
booking_happened                  3073
Wants private accommodation       2781
Short stay                        2264
Not a student                     1518
Just Enquiring                    1263
Inadequate details                 827
Semester stay                      817
Booked with manager                676
Junk lead                          629
Booked on campus accommodation     613
Supply issue                       538
No supply                          534
Not serving in that region         411
Repeat lead                        394
Booked with competitor             356
Not going to university            329
Distance issue                     219
Junk lead/ Just Enquiring          147
Lead issue                         127
Looking for admission               41
Didn't respond in time              35
Visa/admission denied               17
Guarantor issue                     17
Looking for Scholarship              8
Looking for loan                     5
Underage student                     4
Cross sell                           1
Name: lost_reason, dtype: int64

In [201]:
df[df['lost_reason']=='Low budget']

,Unnamed: 0,Agent_id,status,lost_reason,budget,lease,movein,source,source_city,source_country,utm_source,utm_medium,des_city,des_country,room_type,lead_id,lost_won
1,1.0,299ae77a4ef350ae0dd37d6bba1c002d03444fb1edb236...,LOST,Low budget,£60 - £120 Per week,Full Year Course Stay 40 - 44 weeks,2022-09-10,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,5372372f3bf5896820cb2819300c3e681820d82c6efc54...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,b94693673a5f7178d1b114e4004ad52377d3244dd24a3d...,0
3,3.0,eac9815a500f908736d303e23aa227f0957177b0e6756b...,LOST,Low budget,0-0,0.0,2022-09-10,ba2d0a29556ac20f86f45e4543c0825428cba33fd7a9ea...,a5f0d2d08eb0592087e3a3a2f9c1ba2c67cc30f2efd2bd...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,19372fa44c57a01c37a5a8418779ca3d99b0b59731fb35...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,1d2b34d8add02a182a4129023766ca4585a8ddced0e5b3...,0
8,8.0,ab6bb4584e9946b135dca2e39d12abba3ea82d5ea927d0...,LOST,Low budget,100.0,Semester Stay 20 - 24 weeks,2022-09-10,869105a4ce02fc56897c8d7e1eb37736b95e3e826568ae...,4fa64bd55d5c0c1f83015952b4b9500cb099dd0b1b0464...,8da82000ef9c4468ba47362a924b895e40662fed846942...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,5372372f3bf5896820cb2819300c3e681820d82c6efc54...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,b26f82b657d94e19ef8382877006c3e9425d7e4ab836f9...,0
14,14.0,a9f80b4eaba3fd134bafafe7506e08940201964615f7ee...,LOST,Low budget,100.0,full-course-stay,2022-09-10,7bcfca0e9d73371699b0adbf1c691e02108fa64f02f4db...,95d8f2913f79b6b609a2abb6e131e1e1da8f2733956c82...,8da82000ef9c4468ba47362a924b895e40662fed846942...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,a8d85a214c143174ddace882e59ef72f7123acc15f3a4a...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,4c354049e888947c11126b053b3bb9b880e2fddc456463...,0
46,46.0,dcecd385d9a8aae54c55020d6c53aae1d7820982ac66d5...,LOST,Low budget,130-150/week,51 weeks,2022-09-10,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,4ed379d418bb86290a01117e9ceb0debffc4d1b7087db6...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,0f8ce9491c1e1bee497bd7d3bfcbc6e97a02be08974984...,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46557,46557.0,1dc43dab243ecfa3cc71b4fbc230ffd813798c72d1d551...,LOST,Low budget,843.0,14.0,2022-08-30,ba2d0a29556ac20f86f45e4543c0825428cba33fd7a9ea...,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,8da82000ef9c4468ba47362a924b895e40662fed846942...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,69f81619d0ef92cbb165a44e76f4f0c284d2aa83c318fa...,6b33d27be13e79b6a8e4733690e8fffe12d47715d22fba...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,53b745db97a3d4654f1878e10e8dbc3e34f746deef8d40...,0
46569,46569.0,bf515bf88fb9df00a0e224fc4f6a7b4f88010444e8d056...,LOST,Low budget,0-0,0.0,2022-09-10,ba2d0a29556ac20f86f45e4543c0825428cba33fd7a9ea...,c97e9df844c4d89ddbe140c42e3610813d85eebe40d91f...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,11ab03a1a8c367191355c152f39fe28cae5e426fce49ef...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,f88dc31ca77b5271e7df490af95e0cab85a3d859b0edc2...,0
46575,46575.0,2306878a9ad9b57686cd623dd285aaa9b25afdf627f651...,LOST,Low budget,£60 - £120 Per week,Complete Education Year Stay 50 - 52 weeks,2022-10-04,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,b384863fa1f6e091164b74219726eee0b9dd47776b91a4...,e39b0c5e88f19053d3a917669bc9d60729f351e064ca0c...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,618738f7143c9b43a98a6b42d743a6595069a9b4dcf42d...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,67ba5ba193c865fa17772e2f622a45969a79eac323cfc5...,0
46581,46581.0,c213697430c006013012dd2aca82dd9732aa0a1a6bca13...,LOST,Low budget,£60 - £120 Per week,Full Year Course Stay 40 - 44 weeks,2022-09-10,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,8eb1790c9a94820022b72682ba955490697174ddc61293...,0
46589,46589.0,9ab9b659a836589f715b72165b0d32cad846412e62851c...,LOST,Low budget,0-0,0.0,2022-09-10,d684761c17c11590f6e2525b48141cb2c0c6f2be5df4e2...,b384863fa1f6e091164b74219726eee0b9dd47776b91a4...,e39b0c5e88f19053d3a917669bc9d60729f351e064ca0c...,d15690f08a575024650b01ffac892cfd2b93e6c57c140f...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,11ab03a1a8c367191355c152f39fe28cae5e426fce49ef...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,dcb088e2f61da2e3ec36cd90cbbabd9632aecff981a8a3...,0

In [134]:
# Convert all columns to categorical columns
df = df.astype('category')

In [135]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46317 entries, 0 to 46607
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      46317 non-null  category
 1   Agent_id        46317 non-null  category
 2   status          46317 non-null  category
 3   lost_reason     46317 non-null  category
 4   budget          46317 non-null  category
 5   lease           46317 non-null  category
 6   movein          46317 non-null  category
 7   source          46317 non-null  category
 8   source_city     46317 non-null  category
 9   source_country  46317 non-null  category
 10  utm_source      46317 non-null  category
 11  utm_medium      46317 non-null  category
 12  des_city        46317 non-null  category
 13  des_country     46317 non-null  category
 14  room_type       46317 non-null  category
 15  lead_id         46317 non-null  category
dtypes: category(16)
memory usage: 4.5 MB

In [188]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score, roc_auc_score, confusion_matrix, roc_curve, auc

from sklearn import metrics  
from sklearn.metrics import roc_auc_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
from sklearn.metrics import classification_report
from sklearn.metrics import RocCurveDisplay 
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import PrecisionRecallDisplay
from sklearn.ensemble import RandomForestClassifier

In [189]:
df_ran=df.copy()

In [190]:
df_ran

,Unnamed: 0,Agent_id,status,lost_reason,budget,lease,movein,source,source_city,source_country,utm_source,utm_medium,des_city,des_country,room_type,lead_id
0,0.0,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,LOST,Not responding,£60 - £120 Per week,Full Year Course Stay 40 - 44 weeks,2022-09-10,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,cd5dc0d9393f3980d11d4ba6f88f8110c2b7a7f7796307...
1,1.0,299ae77a4ef350ae0dd37d6bba1c002d03444fb1edb236...,LOST,Low budget,£60 - £120 Per week,Full Year Course Stay 40 - 44 weeks,2022-09-10,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,5372372f3bf5896820cb2819300c3e681820d82c6efc54...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,b94693673a5f7178d1b114e4004ad52377d3244dd24a3d...
2,2.0,c213697430c006013012dd2aca82dd9732aa0a1a6bca13...,LOST,Not responding,£121 - £180 Per Week,Full Year Course Stay 40 - 44 weeks,2022-08-31,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,9b8cc3c63cdf447e463c11544924bf027945cbd29675f7...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,11ab03a1a8c367191355c152f39fe28cae5e426fce49ef...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,96ea4e2bf04496c044745938c0299c264c3f4ba079e572...
3,3.0,eac9815a500f908736d303e23aa227f0957177b0e6756b...,LOST,Low budget,0-0,0.0,2022-09-10,ba2d0a29556ac20f86f45e4543c0825428cba33fd7a9ea...,a5f0d2d08eb0592087e3a3a2f9c1ba2c67cc30f2efd2bd...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,19372fa44c57a01c37a5a8418779ca3d99b0b59731fb35...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,1d2b34d8add02a182a4129023766ca4585a8ddced0e5b3...
4,4.0,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,LOST,Junk lead,£60 - £120 Per week,Full Year Course Stay 40 - 44 weeks,2022-09-10,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,fc10fffd29cfbe93c55158fb47752a7501c211d253468c...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46603,46603.0,2306878a9ad9b57686cd623dd285aaa9b25afdf627f651...,LOST,Low availability,£60 - £120 Per week,Complete Education Year Stay 50 - 52 weeks,2022-09-01,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,7d1550b844ff586a6023216c06263105eed0a849a2a1f6...,8da82000ef9c4468ba47362a924b895e40662fed846942...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,13d4b96b6ee361b737e22404aeecca45f322ba7d4c2c42...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Studio,1aaa4a4a9092e4c0eabf958ed9aea59c50d8ea3f08f691...
46604,46604.0,327ec29056cc47c24bf922f7dc0f78261dad5c726d7353...,LOST,Semester stay,£60 - £120 Per week,Summer/Short Stay 8 - 12 weeks,2022-09-29,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,9f2ba6981e36ea0fca6c16f42e6413d788d2a7499b8b7f...,8da82000ef9c4468ba47362a924b895e40662fed846942...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,998c18dc0e513ab0035c7b858e3780bbbead88695a15de...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Studio,1f90dbad4873cb9673ff3c7ec69fbac4289181453c6cea...
46605,46605.0,1134c0a7d44fdae1afd7f1f64e2789496784095ca0a050...,LOST,Low availability,£241 - £300 Per week,Full Year Course Stay 40 - 44 weeks,2022-09-20,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,7d1550b844ff586a6023216c06263105eed0a849a2a1f6...,8da82000ef9c4468ba47362a924b895e40662fed846942...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Studio,d9e0f455b68a6573544ffac32292541a510fe2daffe2bb...
46606,46606.0,8b8b029f1142f5cbc825aa6cbee01406c915c6b055db79...,LOST,Low availability,1108.0,294.0,2022-08-30,d684761c17c11590f6e2525b48141cb2c0c6f2be5df4e2...,e9c722cbefc2f055ae60b4e2cbe73a2d99537eab0c37f3...,b936ee09e20b3b2234907cde349cda1c1a5327c4a486bf...,7f3fa48ca885678134842fa7456f3ece53a97f843b6101...,abb8e2badd5b6265c3237170cc599257a4f566706715d2...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,1f90dbad4873cb9673ff3c7ec69fbac4289181453c6cea...
46607,46607.0,1ea65ea38f2f574b3875ba895e4ff76b284b7725041612...,LOST,Low availability,£181 - £240 Per Week,Full Year Course Stay 40 - 44 weeks,2022-09-01,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,1496126b7015defbc3b1d129a46096a5c135075aff2add...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,618738f7143c9b43a98a6b42d743a6595069a9b4dcf42d...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Studio,7520a8abba2b44d7f37c0ddbe5f7f3d87540b2b7a670e9...

In [191]:
#define the X and y value
X =df_ran.drop(['status','Agent_id','movein','source','source_city','source_country','utm_source','utm_medium','des_city','des_country','room_type','lead_id'],axis=1)
y = df_ran['status']

In [192]:
X

,Unnamed: 0,lost_reason,budget,lease
0,0.0,Not responding,£60 - £120 Per week,Full Year Course Stay 40 - 44 weeks
1,1.0,Low budget,£60 - £120 Per week,Full Year Course Stay 40 - 44 weeks
2,2.0,Not responding,£121 - £180 Per Week,Full Year Course Stay 40 - 44 weeks
3,3.0,Low budget,0-0,0.0
4,4.0,Junk lead,£60 - £120 Per week,Full Year Course Stay 40 - 44 weeks
...,...,...,...,...
46603,46603.0,Low availability,£60 - £120 Per week,Complete Education Year Stay 50 - 52 weeks
46604,46604.0,Semester stay,£60 - £120 Per week,Summer/Short Stay 8 - 12 weeks
46605,46605.0,Low availability,£241 - £300 Per week,Full Year Course Stay 40 - 44 weeks
46606,46606.0,Low availability,1108.0,294.0
46607,46607.0,Low availability,£181 - £240 Per Week,Full Year Course Stay 40 - 44 weeks

In [193]:
rf_clf = RandomForestClassifier()
rf_clf.fit(X_train,y_train)

ValueError: ignored